@font-face{
  font-family: SegoeUI-Medium;
  src: url(Segoe_UI_Medium.ttf);
}

@font-face{
  font-family: font_awesome;
  src: url(Font_Awesome_5_Pro-Light-300.otf);
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .close::before {
    font-family: "font_awesome"; font-weight: 900; content: "\f00d";
	cursor: pointer;
    color: #0f7ed6;
    text-align: center;
	position: absolute;
    right: 0px;
  }

body{
  font-family:  Segoe UI;
}
#to {
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
    position: absolute;
    /* border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none; */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 99;
    background-color: #ffffff;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 0; */
    left: 0;
    right: 0;
    max-height:200px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .autocomplete-items::-webkit-scrollbar { 
    width: 0 !important;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #eaeaea;
    color: #000000;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #eaeaea !important;
    color: #ffffff;
  }
  .closeText {
    cursor: pointer;
    color: #0f7ed6;
    text-align: center;
  }
  .recognitionHeader {
    padding-bottom: 15px;
    font-family: SegoeUI-Medium,Segoe UI;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #17233a;
  }
  label {
    color: #8c8c88;
    font-weight: bolder;
    font-size: smaller;
  }
  
  select:hover {
    background-color: #43458e;
    color: #ffffff;
  }
  
  .buttonContainer {
    position: fixed;
    bottom: 15px;
    right: 30px;
  }
  
  .buttonStyling {
    background-color: #6263a7 !important;
    color: #ffffff !important;
    width: 100px !important;
    margin-left: 5px;
    font-family: SegoeUI-Medium,Segoe UI;
  }

  .buttonLite {
    background-color: white !important;
    color: #5c5b5b !important;
    border: solid 1px #bdbdbd;
    width: 100px !important;
    margin-left: 5px;
    font-family: SegoeUI-Medium,Segoe UI;
  }
  
  /* #recMessage {
    padding-left: 30px;
    padding-right: 30px;
  } */
  
  #heading {
    padding-top: 15px;
  }
  
  .userDisplayPanel {
    /* min-height: 35px; */
    font-family: Segoe UI;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
	  margin-left:0px;
    margin-right:0px;
    position: relative;
  }
  
  
  .form-control {
    background-color: #f3f2f1;
    color: #000000;
  }
  
  ::placeholder {
    color: #a5a4a4;
  }
  
  .jumbotron {
    background-color: white;
    border: #629bf3;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
  }
  
  #previewRecogCriterion,
  #previewRecogCriterion span {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0px;
  }
  
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.4;
  }
  
  .text-theme {
    color: #722282;
  }
  
  /* New css */
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
    }
  }
  .img-group {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .img-group img {
    width: 40px;
  }
  .img-group span {
    padding-left: 10px;
  }
  .cl-img {
    position: absolute;
    right: 0;
    color: #0f7ed6 !important;
    font-weight: bold;
  }
  .masterContainer {
    padding: 2rem;
  }
  button.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px;
    font-weight: normal;
  }
  .wrng-msg {
    margin: 0;
    padding: 20px 0;
    font-size: 12px;
    color: #c10808;
  }
  .btn-grid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 35px;
    position: relative;
  }
  .btn-grid button {
    margin-left: 15px;
  }
  .btn-1 {
    border: solid 1px #bdbdbd;
    border-radius: 1.5px;
    background-color: #ffffff;
    color: #5c5b5b;
    padding: 4px 22px;
    font-size: 16px;
  }
  .btn-1:hover {
    background-color: transparent;
    border: solid 1px #bdbdbd;
    color: #5c5b5b;
  }
  .btn-1.ext,
  .btn-1.ext:hover {
    background-color: #6263a7;
    color: white;
  }
  .link-one {
    color: #666666;
    font-size: 16px;
    position: absolute;
    left: 20px;
  }
  .link-one i {
    padding-right: 20px;
  }
  span.normal {
    font-weight: normal;
  }
  .insideRecogPreview {
    margin: 20px 0;
    display: block;
  }
  .closeCross{
    font-family: font_awesome;
    color: #0f7ed6;
  }
  #recipientsArea{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 150px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
  }
  #recipientsArea::-webkit-scrollbar { 
    width: 0 !important;
  }
  .searchImg{
    background-color: inherit;
    height: 28px;
  }
  .searchName{
    position: relative;
    left: 20px;
    margin:0px !important;
  }

  .recipientImage{
    height: 28px;
    margin-right: 5px;
  }
  .receipientName{    
    margin-right: 5px;
    margin-left:  10px;
    font-family: Segoe UI;
  }
  .form-control{
    font-family: Segoe UI;
  }

.jumbotron {

border-width: 5px;

border-radius: 8px;

padding: 24px 16px;

}

.jumbotron h3 {

Margin: 0;

}

.jumbotron #previewRecogNominees {

font-weight: 600;

}

.jumbotron p {

margin: 16px 0;

}

#previewRecogFrom{
	font-weight: 600;
}


.selectric .label{
	background-color: #f3f2f1;
    color: #616061;
	font-family:  Segoe UI;
	font-size: 1rem;
    font-weight: 400;
}

.selectric{
  background-color: #f3f2f1;
  border-radius: .25rem;
}

.selectric .button{
	background-color: #f3f2f1;
}

.selectric-items li {
    display: block;
    padding: 10px;
    color: #17233a;
    cursor: pointer;
	font-family: SegoeUI-Medium;
	font-size:1rem;
}

.selectric-items li.highlighted {
    background: #D0D0D0;
    color: #444;
}

.selectric-items li.selected {
    background: #E0E0E0;
    color: #444;
}

.selectric-hover .selectric-items li:hover	{ 
	background: #43458e!important;
    color: #ffffff!important;
}

.selectric-items .selectric-scroll{
  max-height: 200px;
}
#previewRecogMessage{
  word-wrap: break-word;
}