html
    head
        //- link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="https://statics.teams.microsoft.com/sdk/v1.4.2/js/MicrosoftTeams.min.js")
        script.
            var pgDetails = !{JSON.stringify(pgDetails)};
            //- var userName = '#{userName}';
            //- var tenantId = '#{tenandId}';
            //- var baseAppUrl = '#{baseUrl}';
            //- var getNames = '#{getNames}';
            //- var getRecogTypes = '#{getTypes}';
            //- var postrecog = '#{postRecog}';

        script(src=pgDetails.baseAppUrl + "/docs/viewHandler.js")
        link( rel="stylesheet" type="text/css" href= pgDetails.baseAppUrl + "/docs/achieversCSS.css" )
    body
        //- .loading#loader(style="display:none")
        //-     .spinner-border.text-theme        
        //- div.container-fluid        
        p.recognitionHeader Create a recognition
            #userDetails
                #recipients    
                    
            .row#userDetails
                .col-md-5#recipients
                    .container-fluid
                        .row
                            .col-sm-12
                                #grpUserNamSel.form-group
                                    label(for="to") To
                                    input.form-control(type="text",id="to",placeholder="Type a name")
                        .row#recipientContainer
                            .col-sm-12
                                label Recipients
                                //- added names shall appear here
                                ul#recipientsArea.list-group
                .col-md-7#recogDetailsSelection
                    .container-fluid
                        .row#recogType
                            .col-sm-12  
                                .form-group
                                    label(for="selRtype") Recognition Type
                                    select.form-control#selRtype
                        .row#recogVal
                            .col-sm-12
                                .form-group
                                    label(for="selRval") Recognition Value
                                    select.form-control#selRval
                .text-right.buttonContainer
                    button.btn.buttonStyling(type="button",id="btn_Target2") Next
            .row#recogDetails(style="display:none")
                //- .col-md-5#recImage
                //-     .container_fluid
                //-         .row#recogImage
                //-             .col-sm-12
                //-                 .form-group
                //-                     label(for="imgRecog") Recognition Image
                .col-md-12#recMessage
                    .container_fluid
                        .row#recogMessage
                            .col-sm-12
                                .form-group
                                    label(for="inpRmessage") Recognition message
                                    textarea.form-control#inpRmessage(rows="5")
                .text-right.buttonContainer
                    button.btn.buttonStyling(type="button",id="btn_Preview") Preview
            .row#previewRecog(style="display:none")
                .col-sm-12
                    .container-fluid
                        .row
                            .col-md-12#recPreview
                                .jumbotron
                                    h3.insideRecogPreview#previewRecogCriterion Recognized for 
                                        span#recogTypePlaceholder
                                    span.insideRecogPreview#previewRecogNominees
                                    br
                                    br
                                    p.insideRecogPreview#previewRecogMessage
                                    insideRecogPreview
                                        p From:
                                            strong#previewRecogFrom
                .text-right.buttonContainer
                    button.btn.buttonStyling(type="button",id="btn_Submit") Submit
            #suggestContainer