html
    head
        link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="https://statics.teams.microsoft.com/sdk/v1.4.2/js/MicrosoftTeams.min.js")
        script.
            var pgDetails = !{JSON.stringify(pgDetails)};
            //- var userName = '#{userName}';
            //- var tenantId = '#{tenandId}';
            //- var baseAppUrl = '#{baseUrl}';
            //- var getNames = '#{getNames}';
            //- var getRecogTypes = '#{getTypes}';
            //- var postrecog = '#{postRecog}';
        link( rel="stylesheet" type="text/css" href= pgDetails.baseAppUrl + "/docs/selectric.css" )
        script(src=pgDetails.baseAppUrl + "/docs/jquery.selectric.min.js")
        script(src=pgDetails.baseAppUrl + "/docs/viewHandler_1.3.js")
        link( rel="stylesheet" type="text/css" href= pgDetails.baseAppUrl + "/docs/viewCSS_1.3.css" )
    body
        .loading#loader(style="display:none")
            .spinner-border.text-theme
        .masterContainer
            div#userDetails
                .row
                    .col-sm-12
                        h5.recognitionHeader Create a recognition
                    .col-sm-5#recipients
                        .l-panel
                            #grpUserNamSel.form-group
                                label(for="to") To
                                input.form-control(type="text",id="to",placeholder="Enter a name",onfocus="clearAllWarnings();")
                            .row#recipientContainer
                                .col-sm-12
                                    label Recipients
                                    //- added names shall appear here
                                    ul#recipientsArea.list-group
                    .col-sm-7
                        .r-panel
                            .form-group
                                label(for="selRtype") Recognition type
                                select.form-control#selRtype
                            #recogVal
                                .form-group
                                    label(for="selRval") Recognition value
                                    select.form-control#selRval
                .row
                    .col-sm-12
                        p#errorMessage.wrng-msg
                    .text-right.buttonContainer
                        button.btn.buttonStyling(type="button",id="btn_Target2") Next

            .row#recogDetails(style="display:none")
                .col-sm-12
                    h5.recognitionHeader Create a recognition
                .col-sm-12#recogMessage
                    .form-group
                        label(for="inpRmessage") Recognition message
                        textarea.form-control#inpRmessage(rows="5",placeholder="Give a reason for this recognition",onfocus="clearAllWarnings();")
                .col-sm-12
                    p#errorMessageRecog.wrng-msg
                .text-right.buttonContainer
                    button.btn.buttonLite(type="button",id="btn_Preview_Back") Back
                    button.btn.buttonStyling(type="button",id="btn_Preview") Preview
            .row#previewRecog(style="display:none")
                .col-sm-12
                    h5.recognitionHeader Create a recognition
                .col-sm-12#recPreview
                    .jumbotron
                        h3.insideRecogPreview#previewRecogCriterion Recognized for 
                            span#recogTypePlaceholder
                        span.insideRecogPreview#previewRecogNominees
                        
                        p.insideRecogPreview#previewRecogMessage
                        insideRecogPreview
                            span From:
                                strong#previewRecogFrom
                .col-sm-12
                    p#errorMessageSubmit.wrng-msg
                .text-right.buttonContainer
                    button.btn.buttonLite(type="button",id="btn_Submit_Back") Back
                    button.btn.buttonStyling(type="button",id="btn_Submit") Submit            
            #suggestContainer